body {
    margin: 0;
    padding: 0;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    list-style-type: none;
}

.tab {
    cursor: pointer;
    height: 40px;
    width: 200px;
}

.tab.active {
    background-color: rgb(49, 63, 255);
    color: white;
}